<h1>Welcome to Get a Song</h1>

<% if user_signed_in? %>
    <ul>
        <li><%= current_user.email %></li>
        <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
    </ul>
<% else %>
    <ul>
        <li><%= link_to "Cadastro de novo usuário", new_user_registration_path %></li>
        <li><%= link_to "LogIn", new_user_session_path %></li>
    </ul>
<% end %>

<ul>
    <li><%= link_to "Users", users_path%></li>
</ul>